
.carousel-caption h5{
    font-size: 35px;
    color: #dfd5d5;
    text-shadow: 20px 20px 20px black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight:800;

}


.carousel-caption p{
    font-size: 18px;
    color: #dfd5d5;
    text-shadow: 20px 20px 20px black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight:600;

}



.navbar-brand{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    color: #2F4F4F;
    font-weight:100;
    
}

body{
    background-color: #5d4582;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.56' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
}

#redeSociais{
    font-size: 30px;
    
}

#sessaoCarrinho ,#inicioProdutos,#rodape , #sessaoConheca, #sessaoProdutos{
    background-color: #f7f4f4;
    font-family: fantasy;
    font-weight: 400;
    font-style: oblique;
    color: #2F4F4F;
    
}

#descontoBadge{
    top: 0.5rem;
    right: 0.5rem
}

